@import"variables";
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background-color:$color-barra;

}
nav .navbar-nav {
    color:$color-hover;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
    white-space: nowrap;
}

nav .lista{
display: flex;
}
nav .lista .item {
    cursor: pointer;
    height: 100%;
    padding: 0 100px;
    transition: .4s ;

}
nav .lista .item :hover{
background-color: $color-hover;
}
nav .lista .nav-link{
color: $color-alma;
font-size: 18px;
font: weight 500 ;
}
@media (max-width: 935px){
    nav{
        padding:0 2rem ;
    }
    nav .lista .item{
        padding: 0 20px;

    }
}
@media (max-width:675px){
    nav .lista{
        display: grid;
        position: absolute;
        background: $color-barra;
        width: 100%;
        top: 75px;
        left: 0;

    }
}